<%= form_for(@submission) do |f| %>

<div class="form-group col col-md-6 col-md-offset-3">
  <% if @submission.errors.any? %>
    <div class="alert alert-danger">
      <h4>Oh snap! You got an error!</h4>

      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message.html_safe %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if @editing %>
  <h2><%= @submission.week %></h2>
  <div style="display: none;" id="submission-week-id"><%= @submission.week_id%></div>
  <% (1..@submission.week.max_points).each do |i|%>
    <label> <input type="checkbox" id="checkbox-<%=i%>" /> Exercise <%= i %> </label>
    <br>
  <% end %>
<% else %>
  <div class="field">
    <%= f.label :week_id %><br>
    <%= f.collection_select(:week_id, Week.order(:id), :id, :name, {}, {class: 'form-control', id: "dropdown"}) %>
  </div>
<% end %>
    <%= f.number_field :points, class: "form-control", style: "display: none;", id: "submission-points", value: 0%>
  <br>
  <div class="field">
    <div id="points-container"></div>
  </div>
  <br>
  <div class="actions">
    <%= f.submit 'Submit', class: "btn btn-success" %>
  </div>
</div>
<% end %>
