<%= form_for(@submission) do |f| %>

<div class="form-group col col-md-6 col-md-offset-3">
  <% if @submission.errors.any? %>
    <div class="alert alert-danger">
      <h4>Oh snap! You got an error!</h4>

      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message.html_safe %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :week_id %><br>
    <%= f.collection_select(:week_id, Week.order(:id), :id, :name, {}, {class: 'form-control'}) %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.text_field :student_id, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :points %><br>
    <%= f.number_field :points, class: "form-control" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit 'Submit', class: "btn btn-success" %>
  </div>
</div>
<% end %>
