<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-hover table-responsive" id="submissions">
      <thead>
        <tr>
          <th><span class="tableLink">Week</span></th>
          <th><span class="tableLink">Student</span></th>
          <th><span class="tableLink">Points</span></th>
          <th class="hidden-xs"><span class="tableLink">Percentage done</span></th>
          <% if current_user %>
            <th></th>
            <th></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% submissions.each do |submission| %>
          <tr data-student="<%= submission.student_id %>">
            <td><%= submission.week.name %> (<%= submission.week_id %>)</td>
            <td class="student-id"><%= link_to submission.user.student_id, submissions_path(:search => submission.user.student_id), class:"btn btn-primary btn-xs" %></td>
            <td class="hidden-xs"><span class="badge"><%= submission.points %></span></td>
            <% if submission.percentage <= 90 %>
              <td><span class="badge"><%= submission.percentage %></span></td>
            <% else %>
              <td><span class="badge-success"><%= submission.percentage %></span></td>
            <% end %>
            <% if current_user and (current_user == submission.user or current_user.admin?) %>
              <td><%= link_to 'Edit', edit_submission_path(submission), class:"btn btn-xs btn-warning" %>
              <td><%= link_to 'Destroy', submission, class: "btn btn-xs btn-danger", method: :delete, data: {confirm: 'Are you sure?' } %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
