<p id="notice"><%= notice %></p>

<h1>Submissions</h1>
<div class="col col-md-8 col-md-offset-2">
  <div class="form-group">
    <div class="input-group">
      <%= form_tag(submissions_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Find submission", class:"form-control" %>
        <span class="input-group-btn">
          <%= submit_tag "Search", class:"btn" %>
        </span>
      <% end %>
    </div>
  </div>
</div>
<br>
<%= render 'list', submissions: @submissions %>
<br>
