<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Lapio Stats" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Lapio Stats" %>">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700|Raleway:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: 'navbar-brand' do %>
            <span class='fa fa-star'></span>
            LapioStats
          <% end %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to weeks_path do %>
                <span class='fa fa-calendar'></span> Weeks
              <% end %>
            </li>
            <li>
              <%= link_to submissions_path do %>
                <span class='fa fa-keyboard-o'></span> Submissions
              <% end %>
            </li>
            <% if current_user %>
            <li>
              <%= link_to new_submission_path do %>
                <i class="fa fa-plus"></i> New submission
              <% end %>
            </li>
              <% if current_user.admin? %>
                <li>
                  <%= link_to users_path do %>
                    <i class="fa fa-user"></i> Users
                  <% end %>
              <% end %>
            <% end %>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li>
                <%= link_to edit_user_path(current_user) do %>
                  <span class='fa fa-key'></span> Change password
                <% end %>
              </li>
              <li>
                <%= link_to logout_path do %>
                  <span class='fa fa-sign-out fa-fw'></span> Sign out (<%= current_user.student_id %>)
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to signup_path do %>
                  <span class='fa fa-user-plus fa-fw'></span> Register
                <% end %>
              </li>
              <li>
                <%= link_to login_path do %>
                  <span class='fa fa-sign-in fa-fw'></span> Sign in
                <% end %>
              </li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div>
      <noscript style="text-align: center;">
        Please enable Javascript to use this site
        <style>
        .yes-script {
            display: none;
        }
        </style>
      </noscript>
      <%= flash_messages %>
      <div class="container yes-script">
      <%= yield %>
      </div>
    </div>
    <div id="luke" class="easter"></div>
  </body>
</html>
